body{
    background: lime;
    color: white;
    width: 100%;
    max-width: 980px;
    margin: 0;
}

.container{
    display: flex;
}

.card{
    background:#fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    margin:1em;
    padding: 1em;
    display:inline-block;
    width: 45%;
    display: flex;
}

.card-image{
    width: 40%;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-content{
    padding: 0 20px;
    margin: 0 1em;
    width: 50%;
}

.card-title, .card-text{
    color: black;
}

@media screen and (max-width:600px){
    body{
        background:red;

    }
    .card{
        width:100%;
        display: block;
    }
    .card-image{
        width:100%;
    }
    .card-content{
        display:block;
    }
    .card-text{
        display: none;
    }
}